<div class="board-columns" cdkDropListGroup>

  <div class="column">
    <div class="column-header">
      <h2>To do</h2>
      <button (click)="openOverlay('todo')">+</button>
    </div>
    <div
      cdkDropList
      id="todoList"
      [cdkDropListData]="todo"
      class="drop-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-card
        *ngFor="let item of todo; trackBy: trackById"
        cdkDrag
        [task]="item"
      ></app-card>
      <div *ngIf="!todo.length" class="empty-list">No tasks to do</div>
    </div>
  </div>

  <div class="column">
    <div class="column-header">
      <h2>In Progress</h2>
      <button (click)="openOverlay('progress')">+</button>
    </div>
    <div
      cdkDropList
      id="progressList"
      [cdkDropListData]="progress"
      class="drop-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-card
        *ngFor="let item of progress; trackBy: trackById"
        cdkDrag
        [task]="item"
      ></app-card>
      <div *ngIf="!progress.length" class="empty-list">No tasks in progress</div>
    </div>
  </div>

  <div class="column">
    <div class="column-header">
      <h2>Await Feedback</h2>
      <button (click)="openOverlay('feedback')">+</button>
    </div>
    <div
      cdkDropList
      id="feedbackList"
      [cdkDropListData]="feedback"
      class="drop-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-card
        *ngFor="let item of feedback; trackBy: trackById"
        cdkDrag
        [task]="item"
      ></app-card>
      <div *ngIf="!feedback.length" class="empty-list">No tasks awaiting feedback</div>
    </div>
  </div>

  <div class="column">
    <div class="column-header">
      <h2>Done</h2>
    </div>
    <div
      cdkDropList
      id="doneList"
      [cdkDropListData]="done"
      class="drop-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-card
        *ngFor="let item of done; trackBy: trackById"
        cdkDrag
        [task]="item"
      ></app-card>
      <div *ngIf="!done.length" class="empty-list">No tasks done</div>
    </div>
  </div>

</div>

<app-add-task-overlay *ngIf="showAddTaskOverlay" [status]="currentStatus" (closeOverlay)="closeOverlay()"></app-add-task-overlay>
<app-card-overlay></app-card-overlay>