.board-columns {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 1.5rem;
  padding: 0 3rem;
  height: calc(0.8 * (100vh - 96px));

&::-webkit-scrollbar {
  width: 8px;
}
&::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 2px;

}
&::-webkit-scrollbar-thumb {
  background: #c4c4c4; 
}

&::-webkit-scrollbar-thumb:hover {
  background: #8f8e8e; 
  cursor: pointer;
}
  @media (max-width: 1030px) {
    flex-direction: column;
    height: calc(0.8 * (100vh - 96px - 96px));
    padding: 0 0 6rem 1rem;
  }
    @media (max-width: 640px) {
    flex-direction: column;
    height: calc(0.8 * (100vh - 96px - 80px));
    padding: 0 0 5rem 1rem;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 1.5rem;
}

.drop-list {
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  min-height: unset;
  flex-grow: 1;
  gap: 1.5rem;

  @media (max-width: 1030px) {
    min-height: 0;
  }
}
.empty-list {
  color: #888;
  text-align: center;
  background: #f3f3f3;
  border: 2px dashed #bbb;
  padding: 0.5rem 0;
  font-size: 1rem;
  border-radius: 8px;
  width: 100%;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  padding: 0 0.25rem;

  h2 {
    font-size: 1.2rem;
    color: #333333b0;
  }
}

.column-header button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333333b0;
  border: 2px solid #333333b0;
  font-size: 1rem;
  border-radius: 4px;
  width: 20px;
  height: 20px;



  &:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
  }
}

/* Drag + Animation Styles */
.cdk-drag-preview {
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 8px;
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-list.cdk-drop-list-dragging app-card:not(.cdk-drag-placeholder) {
  transition: none;
}

/* Versteckt Rahmen und Hintergrund beim Dragging */
.drop-list.cdk-drop-list-dragging {
  border: 2px dashed #333333b0;
  background-color: #adadad36;
  border-radius: 8px;
}