<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>
    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of todo; track item) {
        <div class="example-box" cdkDrag>{{item}}</div>
      }
    </div>
  </div>
  <div class="example-container">
    <h2>In Progress</h2>
    <div
      cdkDropList
      [cdkDropListData]="progress"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of progress; track item) {
        <div class="example-box" cdkDrag>{{item}}</div>
      }
    </div>
  </div>
  <div class="example-container">
    <h2>Await Feedback</h2>
    <div
      cdkDropList
      [cdkDropListData]="feedback"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of feedback; track item) {
        <div class="example-box" cdkDrag>{{item}}</div>
      }
    </div>

  </div>
  <div class="example-container">
    <h2>Done</h2>
    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of done; track item) {
        <div class="example-box" cdkDrag>{{item}}</div>
      }
    </div>

  </div>
</div>

<app-card></app-card>
<app-card-overlay></app-card-overlay>