.board-columns {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  padding: 16px;
  height: 70.5vh;
  overflow-x: auto;
}

.column {
  width: 350px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.drop-list {
  min-height: 600px;
  background: transparent;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
}

/* Drag + Animation Styles */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.cdk-drag-placeholder {
  display: none !important;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-list.cdk-drop-list-dragging app-card:not(.cdk-drag-placeholder) {
  transition: none !important;
}

/* Versteckt Rahmen und Hintergrund beim Dragging */
.drop-list.cdk-drop-list-dragging {
  border: none !important;
  background: transparent !important;
}

.empty-list {
  color: #888;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  border: 2px dashed #bbb;
  background: #f3f3f3;
  border-radius: 8px;
  margin: 8px 0;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  h2 {
    font-size: 1.2rem;
    color: #333;
  }
}

.column-header button {
  font-size: 1rem;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
  }
}