<section>
  <div class="content">
    <app-side-bar></app-side-bar>
    <div class="header-and-content">
      <app-header></app-header>
      <div class="contacts">
        <div class="contact-sidebar">
          <button id="new-contact-btn-resp"><img src="/assets/images/resp-btn/new-contact-btn-resp.png" alt=""></button>
          <div class="new-contact-btn">

           
            <button (click)="openAddContact()">Add new contact <img src="./assets/icons/person_add.png" alt="" /></button>
          </div>

          @for (contact of contacts; let i = $index; track contact.id) { @if (i
          === 0 || contact.name.charAt(0).toUpperCase() !== contacts[i -
          1].name.charAt(0).toUpperCase()) {
          <div class="contact-letter">
            <span>{{ contact.name.charAt(0).toUpperCase() }}</span>
            <hr class="brake-line" />
          </div>
          }

          <div class="contact-list">
            <div class="initials" [style.background-color]="contact.color">
              {{ getInitials(contact.name) }}
            </div>
            <ul>
              <li>{{ contact.name }}</li>
              <li>
                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
              </li>
            </ul>
          </div>
          }
        </div>

        <div class="mohammad">
          <div id="header">
            <h1>Contacts</h1>
            <div id="line"></div>
            <span>Better with a team</span>
          </div>

          <div id="info">
            <div id="contact-title">
              <img src="/assets/images/name-info.png" alt="name-info" />
              <h1>Tatjana Wolf</h1>
            </div>
            <div id="icons">
              <img src="assets/images/edit.png" alt="edit" />
              <p>edit</p>

              <img src="assets/images/delete.png" alt="delete" />
              <p>delete</p>
            </div>
            <div id="contact-information">
              <p>Contact Information</p>
            </div>
            <div id="mail-phone">
              <h3>Email</h3>
              <p>info&#64;info.de</p>
              <h3>Phone</h3>
              <p>+49 123456</p>
            </div>
          </div>
        </div>

        <!-- <div id="overlay-add-contact" >
         

          <div id="left-side">


            <img src="assets/icons/logo-overlay.png" alt="">

            <div id="text">
              <h1>Add contact</h1>
              <h3>Tasks are better with a team!</h3>
              <div id="line"></div>
            </div>
          </div>

          <div id="right-side">
             <img id="close-overlay" src="assets/icons/close-overlay.png" alt="">

            <img src="assets/icons/person-add-contact.png" alt="">
            <div id="inputs">

              <div class="input-text-img">
                <input type="text" placeholder="Name"> <img src="assets/icons/person.png" alt="">
              </div>

              <div class="input-text-img">
                <input type="text" placeholder="Email"> <img src="assets/icons/mail.png" alt="">
              </div>

              <div class="input-text-img">
                <input type="text" placeholder="Phone"> <img src="assets/icons/call.png" alt="">
              </div>


              <div id="buttons">
                <button id="cancel-btn">Cancel <img src="assets/icons/icon-cancel.png" alt=""></button>
                <button id="create-btn">Create contact <img src="assets/icons/icon-create.png" alt=""></button>
              </div>
            </div>


          </div>



        </div> -->
        <app-add-contact-overlay [class.d-none]="!showOverlay"></app-add-contact-overlay>
        <app-edit-contact-overlay> </app-edit-contact-overlay>
        
        <!-- <div id="overlay-edit-contact">
         

          <div id="left-side">


            <img src="assets/icons/logo-overlay.png" alt="">

            <div id="text">
              <h1>Edit contact</h1>
             
              <div id="line"></div>
            </div>
          </div>

          <div id="right-side">
             <img id="close-overlay" src="assets/icons/close-overlay.png" alt="">

            <img src="assets/icons/person-add-contact.png" alt="">
            <div id="inputs">

              <div class="input-text-img">
                <input type="text" placeholder="Name"> <img src="assets/icons/person.png" alt="">
              </div>

              <div class="input-text-img">
                <input type="text" placeholder="Email"> <img src="assets/icons/mail.png" alt="">
              </div>

              <div class="input-text-img">
                <input type="text" placeholder="Phone"> <img src="assets/icons/call.png" alt="">
              </div>


              <div id="buttons">
                <button id="delete-btn">Delete</button>
                <button id="save-btn">Save <img src="assets/icons/icon-create.png" alt=""></button>
              </div>
            </div>


          </div>



        </div> -->
      </div>
    </div>
  </div>
</section>

