<section>
  <div class="content">
    <app-side-bar></app-side-bar>
    <div class="header-and-content">
      <app-header></app-header>
      <div class="contacts">
        <div class="contact-sidebar">
          <div class="new-contact-btn">
            <a href=""
              >Add new contact <img src="./assets/icons/person_add.png" alt=""
            /></a>
          </div>
          <div class="contact-letter">
            <span>A</span>
            <hr class="brake-line" />
          </div>
          <div class="contact-list">
            <div class="initials">AM</div>
            <ul>
              <li>Anton Mayer</li>
              <li>
                <a href="">antom&#64;gmail.com</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="mohammad">
          <div id="header">
            <h1>Contacts</h1>
            <div id="line"></div>
            <span>Better with a team</span>
          </div>

          <div id="info">
            <div id="contact-title">
              <img src="/assets/images/name-info.png" alt="name-info" />
              <h1>Tatjana Wolf</h1>
            </div>
            <div id="icons">
              <img src="assets/images/edit.png" alt="edit" />
              <p>edit</p>

              <img src="assets/images/delete.png" alt="delete" />
              <p>delete</p>
            </div>
            <div id="contact-information">
              <p>Contact Information</p>
            </div>
            <div id="mail-phone">
              <h3>Email</h3>
              <p>info&#64;info.de</p>
              <h3>Phone</h3>
              <p>+49 123456</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


