@import url("../../styles.scss");


.content{
    display: flex;
    .header-and-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        .contacts{
            display: flex;
            .adem{
                width: 40%;
            }
            .mohammad{
                width: 60%;
            }
        }
    }
}
