<section>
  <div class="content">
    <app-side-bar></app-side-bar>
    <div class="header-and-content">
      <app-header></app-header>
      <div class="contacts">
        <div class="contact-sidebar">
          <button id="new-contact-btn-resp">
            <img
              src="/assets/images/resp-btn/new-contact-btn-resp.png"
              alt=""
            />
          </button>
          <button class="new-contact-btn" (click)="openAddContact()">
            Add new contact <img src="./assets/icons/person_add.png" alt="" />
          </button>
          <!-- 
          @for (contact of contacts; let i = $index; track contact.id) { @if (i
          === 0 || contact.name.charAt(0).toUpperCase() !== contacts[i -
          1].name.charAt(0).toUpperCase()) {
          <div class="contact-letter">
            <span>{{ contact.name.charAt(0).toUpperCase() }}</span>
            <hr class="brake-line" />
          </div>
          }

          <div class="contact-list">
            <div class="initials" [style.background-color]="contact.color">
              {{ getInitials(contact.name) }}
            </div>
            <ul>
              <li>{{ contact.name }}</li>
              <li>
                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
              </li>
            </ul>
          </div>
          } -->
          <div>
            <section>
              <h2>Vocabulary List</h2>
              @for (item of firebaseService.contactList; track $index) {
              @if(!isEdited) {
              <p>
                {{ item.name }} - {{ item.email }}
                <button (click)="editContact($index)">Edit</button
                ><button (click)="deleteContact($index)">Delete</button>
              </p>
              } } @if(isEdited && selectedContactIndex !== null) {
              <form (ngSubmit)="saveEdit()">
                <input
                  type="text"
                  [(ngModel)]="editedContact.name"
                  name="name"
                />
                <input
                  type="text"
                  [(ngModel)]="editedContact.email"
                  name="email"
                />
                <button
                  type="submit"
                  [disabled]="!editedContact.name || !editedContact.email"
                >
                  Save
                </button>
                <button type="button" (click)="cancelEdit()">Cancel</button>
              </form>
              }
            </section>
          </div>
        </div>

        <div class="mohammad">
          <div id="header">
            <h1>Contacts</h1>
            <div id="line"></div>
            <span>Better with a team</span>
          </div>

          <div id="info">
            <div id="contact-title">
              <img src="/assets/images/name-info.png" alt="name-info" />
              <h1>Tatjana Wolf</h1>
            </div>
            <div id="icons">
              <button (click)="openEditContact()">
                <img src="assets/images/edit.png" alt="edit" />
                <p>Edit</p>
              </button>
              <button>
                <img src="assets/images/delete.png" alt="delete" />
                <p>Delete</p>
              </button>
            </div>
            <div id="contact-information">
              <p>Contact Information</p>
            </div>
            <div id="mail-phone">
              <h3>Email</h3>
              <p>info&#64;info.de</p>
              <h3>Phone</h3>
              <p>+49 123456</p>
            </div>
          </div>
        </div>

        <app-add-contact-overlay
          [class.d-none]="!showOverlay"
          (close)="openAddContact()"
        ></app-add-contact-overlay>
        <app-edit-contact-overlay
          [class.d-none]="!showEditOverlay"
          (close)="openEditContact()"
        ></app-edit-contact-overlay>
      </div>
    </div>
  </div>
</section>
