<div class="task-card">
    <div class="category">
        <span>Kategorie</span>
    </div>
    <div class="description">
        <h4>Titel</h4>
        <span>Text für die Aufgabe</span>
    </div>
    
    <div class="progression">
        <div class="progress-bar">
            <div class="progress-fill"></div>
        </div>
        <div class="subtasks-text">
            2/4 Subtasks
        </div>
    </div>

    <div class="overview">
        <div class="user-icons">
            <div class="user-initials" style="background: #FF5733;">A</div>
            <div class="user-initials" style="background: #33C1FF;">B</div>
            <div class="user-initials extra">+2</div>
        </div>
        <div class="priority-icon"></div>
        <img src="assets/icons/Property-1=Urgent.png" alt="">
    </div>
</div>
