<section class="visible">
    <div class="card">
        <div class="top-card">
            <div class="task-name">
                <span>Design</span>
            </div>
            <button (click)="onCloseClick()" class="close">X</button>
        </div>

        <h2>Überschrift Task</h2>
        <span>Beschreibung Task</span>

        <div class="task-date">
            <span>Due date:</span>
            <span>2025-08-15</span>
        </div>

        <div class="task-priority">
            <span>Priority:</span>
            <span>High</span>
        </div>

        <span class="title">Assigned To:</span>
        <div class="task-contact">
            <div class="initials" style="background-color: green;">CR</div>
            <span>Cristiano Ronaldo</span>
        </div>
        <div class="task-contact">
            <div class="initials" style="background-color: blue;">BK</div>
            <span>Burak Keles</span>
        </div>

        <span class="title">Subtasks</span>
        <div class="subtask">
            <input type="checkbox">
            <span>Subtask 1</span>
        </div>
        <div class="subtask">
            <input type="checkbox">
            <span>Subtask 2</span>
        </div>
        <div class="subtask">
            <input type="checkbox">
            <span>Subtask 3</span>
        </div>

        <div class="task-buttons">
            <button>
                <div class="icon-delete"></div>
                <img src="assets/icons/delete.png" alt="">
                <span>Delete</span>
            </button>
            <button>
                <div class="icon-edit"></div>
                <img src="assets/icons/edit.png" alt="">
                <span>Edit</span>
            </button>
        </div>
    </div>
</section>
