<section>
    <div>
    <div class="top-card">
        <div class="task-name">
        <span>{{task.category}}</span>
        </div>
        <button (click)="onCloseClick()">X</button>
    </div>

    <h2>{{task.title}}</h2>
    <span>{{task.description}}</span>

    <div class="task-date">
        <span>Due date:</span>
        <span>{{task.date}}</span>
    </div>

    <div class="task-priority">
        <span>Priority:</span>
        <span>{{task.priority}}</span>
    </div>

    <span class="title">Assigned To:</span>
    <div class="task-contact">
        <div class="initials" style="background-color: green;">CR</div>
        <span>Cristiano Ronaldo</span>
    </div>
    <div class="task-contact">
        <div class="initials" style="background-color: blue;">BK</div>
        <span>Burak Keles</span>
    </div>

    <span class="title">Subtasks</span>
    <div class="subtask">
        <input type="checkbox" />
        <span>Subtask 1</span>
    </div>
    <div class="subtask">
        <input type="checkbox" />
        <span>Subtask 2</span>
    </div>
    <div class="subtask">
        <input type="checkbox" />
        <span>Subtask 3</span>
    </div>

    <div class="task-buttons">
        <button (click)="deleteTask()">
        <img src="assets/icons/delete.png" alt="" />
        <span>Delete</span>
        </button>
        <button>
        <img src="assets/icons/edit.png" alt="" />
        <span>Edit</span>
        </button>
    </div>
    </div>
</section>
