section {
  height: 100%;
  width: 100%;
  background: rgb(0 0 0 / 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms ease;
  opacity: 1;
  pointer-events: auto;

  .contant-card {
    width: 450px;
    max-height: 80%;
    background: #fff;
    border-radius: 20px;
    padding: 40px;
    overflow: auto;
  }

  &.hidden {
    opacity: 0;
    z-index: -10;
    pointer-events: none;
  }

  > div {
    display: flex;
    flex-direction: column;

    @media (max-width: 490px) {
      width: 380px;
      padding: 20px;
    }

    @media (max-width: 430px) {
      width: 330px;
    }

    @media (max-width: 380px) {
      width: 280px;
    }

    .top-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      h2 {
        font-size: 48px;
      }

      .task-name {
        background-color: blue;
        border-radius: 5px;
        padding: 5px 20px;
        color: white;

        &.user-story {
          background: #ffcc00;
        }

        &.technical-task {
          background: #0038ff;
        }

        @media (max-width: 380px) {
          padding: 5px 10px;
          font-size: 14px;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        cursor: pointer;
        border: none;
        font-size: 1rem;
        z-index: 5;
        height: 2rem;
        width: 2rem;
      }

      button:hover {
        background: rgba(0, 0, 0, 0.048);
        border-radius: 50%;
      }
    }

    h2 {
      font-size: 48px;
      margin-bottom: 15px;

      @media (max-width: 490px) {
        font-size: 36px;
      }
    }

    .task-date {
      margin-top: 15px;
      display: flex;

      span:first-child {
        width: 100px;
      }
    }

    .task-priority {
      margin-top: 15px;

      display: flex;

      span:first-child {
        width: 100px;
      }
    }

    .title {
      color: #2a3647;
      margin: 15px 0px;
    }

    .task-contact {
      padding-bottom: 10px;
      margin-left: 15px;
      display: flex;
      gap: 15px;
      display: flex;
      align-items: center;

      .initials {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: solid 3px white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 10px;
      }
    }

    .subtask {
      font-size: 13px;
      margin-bottom: 10px;
      padding: 2px 15px;
      border-radius: 5px;
      display: flex;
      width: fit-content;
      gap: 10px;

      &:hover {
        background: #0c2e621f;
      }
    }

    .completed {
      text-decoration: line-through;
      opacity: 0.6;
    }

    .task-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      padding-top: 15px;

      button {
        display: flex;
        gap: 10px;
        background: none;
        border: none;
        color: #2a3647;

        img {
          height: 24px;
          width: 24px;
        }

        &:hover {
          cursor: pointer;
          color: lightblue;
          font-weight: 700;
        }

        &:not(:first-child) {
          border-left: 1px solid gray;
          padding-left: 10px;
        }
      }
    }
  }
}
