<div class="content">
<header class="topbar">
<div class="logo">
    <img src="./assets/icons/dark-logo-join.png" alt="Logo">
</div>

<div class="signup">
    <span>Not a Join user?</span>
    <button>Sign up</button>
</div>
</header>

<main class="main-content">
<div class="login-card">
    <h1>Log in</h1>

    <div class="input-group">
    <span class="icon"></span>
    <input type="email" placeholder="Email">
    </div>

    <div class="input-group">
    <span class="icon"></span>
    <input type="password" placeholder="Password">
    </div>

    <div class="actions">
    <button>Log in</button>
    <button>Guest Log in</button>
    </div>
</div>
</main>

<footer class="footer-content">
<a href="#">Privacy Policy</a>
<a href="#">Legal notice</a>
</footer>
</div>
