<section>
    <div class="side-bar">
        <img src="assets/images/join-logo-light.png" alt="">

        <div id="menu">
            <div class="menu-links">
                <div class="header-links">
                    <a routerLink="/summary" routerLinkActive="active">
                        <img src="assets/icons/summary-icon.png" alt="summary-icon" class="">
                        <span>Summary</span>
                    </a>
                </div>
                <div class="header-links">
                    <a routerLink="/#" routerLinkActive="active">
                        <img src="assets/icons/add-task-icon.png" alt="">
                        <span>Add Task</span>
                    </a>
                </div>
                <div class="header-links">
                    <a routerLink="/#" routerLinkActive="active">
                        <img src="assets/icons/board-icon.png" alt="">
                        <span>Board</span>
                    </a>
                </div>
                <div class="header-links">
                    <a routerLink="/#" routerLinkActive="active">
                        <img src="assets/icons/contacts-icon.png" alt="">
                        <span>Contacts</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="policies">
        <a href="#">
            <span>Privacy Policy</span>
        </a>
        <a href="#">
            <span>Legal Notice</span>
        </a>
    </div>
</section>

<div class="side-bar-mobile">
    <a routerLink="/#" routerLinkActive="active">
        <img src="assets/icons/summary-icon.png" alt="">
        <span>Summary</span>
    </a>
    <a routerLink="/#" routerLinkActive="active">
        <img src="assets/icons/add-task-icon.png" alt="">
        <span>Add Task</span>
    </a>
    <a routerLink="/#" routerLinkActive="active">
        <img src="assets/icons/board-icon.png" alt="">
        <span>Board</span>
    </a>
    <a routerLink="/#" routerLinkActive="active">
        <img src="assets/icons/contacts-icon.png" alt="">
        <span>Contacts</span>
    </a>
</div>