<div class="subtasks-container">
    <label>Subtasks</label>
    <div class="input-group">
        <div>
        <input type="text" [(ngModel)]="newSubtask" placeholder="Add new subtask" (focus)="onInputFocus()"
            (blur)="onInputBlur($event)" />
        <img (click)="addSubtask()" src="assets/icons/plus-icon.png" alt="" class="plus-icon" *ngIf="!isInputFocused">
        </div>
        <div class="subtask-x-ok" *ngIf="isInputFocused">
            <img class="ok-x" src="assets/icons/x.png" alt="" (click)="clearNewSubtask()"
                (mousedown)="$event.preventDefault()">
            <img class="ok-x" src="assets/icons/ok.png" alt="" (click)="addSubtask()"
                (mousedown)="$event.preventDefault()">
        </div>
    </div>
    

    <ul class="subtask-list">
        <li *ngFor="let task of subtasks; let i = index">
            <div *ngIf="task.editing; else viewMode" class="edit-mode">
                <input [(ngModel)]="task.text" />
                <img (click)="deleteSubtask(i)" src="assets/icons/delete.png" alt="Delete" />
                <img (click)="confirmEdit(i, task.text)" src="assets/icons/check.png" alt="Confirm" />
            </div>

            <ng-template #viewMode>
                <div class="edit-delete-container">
                    <span>• {{ task.text }}</span>
                    <div class="edit-delete-buttons">
                        <img (click)="startEdit(i)" src="assets/icons/edit.png" alt="Edit" />
                        <img (click)="deleteSubtask(i)" src="assets/icons/delete.png" alt="Delete" />
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>
    <label id="required-text"><span class="asterisk">*</span> this field is required </label>
</div>