<div class="subtasks-container">
    <label>Subtasks</label>
    <div class="input-group">
        <input type="text" [(ngModel)]="newSubtask" placeholder="Add new subtask" />
        <button (click)="addSubtask()">
        </button>
    </div>

    <ul class="subtask-list">
        <li *ngFor="let task of subtasks; let i = index">
            <div *ngIf="task.editing; else viewMode" class="edit-mode">
                <input [(ngModel)]="task.text" />
                <button (click)="deleteSubtask(i)">
                    <img src="assets/icons/delete.png" alt="Delete" />
                </button>
                <button (click)="confirmEdit(i, task.text)">
                    <img src="assets/icons/check.png" alt="Confirm" />
                </button>
            </div>

            <ng-template #viewMode>
                <span>• {{ task.text }}</span>
                <button (click)="startEdit(i)">
                    <img src="assets/icons/edit.png" alt="Edit" />
                </button>
                <button (click)="deleteSubtask(i)">
                    <img src="assets/icons/delete.png" alt="Delete" />
                </button>
            </ng-template>
        </li>
    </ul>
</div>