@use "../../styles/all-styles.scss" as *;

.board-container {
  @include dFlex($jc: space-between, $fd: row);
  width: 100%;
  height: 20vh;

  .board {
    @include dFlex($jc: space-between, $ai: center);
    border-radius: 0.5rem;
    width: 100%;
    padding: 2rem;

    h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    p {
      font-size: 1.2rem;
      color: #666;
    }
    .board-actions {
      @include dFlex($jc: end, $ai: center);
      gap: 1rem;
      width: 100%;

      .board-action {
        @include dFlex($jc: center, $ai: center);
        height: 2.5rem;
        border-radius: 8px;
        background-color: #f0f0f0;
        padding: 0 1rem;
        cursor: pointer;

        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      .search-task {
        @include dFlex($jc: center, $ai: center);
        height: 3rem;
        border-radius: 8px;
        background: #ffffff;
        padding: 0 1rem;
        border: 1px solid #d1d1d1;


        &:focus-within {
          border-color: #29abe2;
        }

        input {
          width: 100%;
          border: none;
          background-color: transparent;
          outline: none;
          font-size: 1rem;
        }

        .line {
          width: 1px;
          height: 2rem;
          margin: 0 1rem;
        }

        .search-task-btn {
          display: flex;
          background-color: transparent;
          border: none;
          cursor: pointer;

          img {
            width: 1.5rem;
            height: 1.5rem;
          }
          &:hover {
            opacity: 0.8;
            background: rgba(0, 0, 0, 0.048);
            border-radius: 50%;
          }
        }
      }
    }
    .board-add-task {
      @include dFlex($jc: center, $ai: center);
      background: #2a3647;
      cursor: pointer;
      white-space: nowrap;
      font-weight: bold;
      font-size: 1rem;
      color: white;
      border: none;
      padding: 0.5rem 0.75rem;
      border-radius: 8px;
      gap: 1rem;
      height: 3rem;
      img {
        width: 18px;
        height: 18px;
      }
      &:hover {
        background: #29abe2;
        box-shadow: 0px 3px 7px -3px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
@media (max-width: 1030px) {
  .board-container {
    height: auto;
    padding: 1rem;

    .board {
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 0;

      h1 {
        width: 100%;
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .board-actions {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;

        .search-task {
          width: 100%;
          justify-content: space-between;
          padding: 0;
        }
        input{
          width: 100%;
          padding: 0.5rem;
        }

        .board-add-task {
          position: absolute;
          top: -4rem;
          right: 2rem;
          padding: 1rem;
          span {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .board-container {
    width: 100%;
    max-width: 100vw;
    padding: 0.5rem;

    .board {
      max-width: 100%;
      padding: 2rem 0;

      h1 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
        word-break: break-word;
      }

      .board-actions {
        padding: 1rem 0;

        .search-task {
          height: 2.2rem;
          padding: 0 0.5rem;
          width: calc(100% - 1rem);
        }

        .board-add-task {
          top: -3rem;
          padding: 0.25rem 0.5rem;
          height: 2rem;
        }
      }
    }
  }
}
.board .board-actions .board-add-task.show-mobile {
  display: none;
}
.board .board-actions .board-add-task.show-desktop {
  display: inline-flex;
}

@media (max-width: 1030px) {
  .board .board-actions .board-add-task.show-mobile {
    display: inline-flex;
  }
  .board .board-actions .board-add-task.show-desktop {
    display: none;
  }
}