<div class="board-container">
  <div class="board">
    <h1>Board</h1>
    <div class="board-actions">
      <div class="search-task" role="search">
        <input
          id="find-task"
          class="search-task-input"
          type="text"
          placeholder="Find Task"
          (input)="onSearch($event)"
        />
        <hr class="line" />
        <button type="submit" class="search-task-btn">
          <img src="./assets/icons/search.png" alt="" />
        </button>
      </div>
      <button (click)="openOverlay()" type="button" class="board-add-task show-desktop">
        <span>Add Task</span>
        <img src="./assets/icons/add.png" alt="" />
      </button>
      <button routerLink="/" type="button" class="board-add-task show-mobile">
          <img src="./assets/icons/add.png" alt="" />
      </button>
      <app-add-task-overlay
        *ngIf="showAddTaskOverlay"
        (closeOverlay)="closeOverlay()"
      >
      </app-add-task-overlay>
    </div>
  </div>
</div>
