<div class="board-top">
  <div class="board">
    <h1>Board</h1>
    <div class="search-task" role="search">
      <input
        id="find-task"
        class="search-task-input"
        type="search"
        placeholder="Find Task"
      />
      <button type="submit" class="search-task-btn">
        <img src="" alt="" />
      </button>
    </div>

    <hr class="line" />

    <button type="button" class="board-add-task">
      <span>Add Task</span>
      <img src="" alt="" />
    </button>
  </div>
</div>
