<div class="category-dropdown">
    <label class="form-label">Category<span class="required-asterisk">*</span></label>
    <select [(ngModel)]="taskList.category" class="select-category" name="category" required #category="ngModel"
            [class.errorborder]="!category.valid && category.touched" (change)="onCategoryChange()">
        <!-- Platzhalter-Text (erscheint nur vor der Auswahl) -->
        <option value="Select task category" disabled selected hidden>Select task category</option>
        <!-- Echte Optionen -->
        <option value="Technical Task">Technical Task</option>
        <option value="User Story">User Story</option>
    </select>
</div>
