.category-dropdown {
  margin-bottom: 1rem;
  position: relative;
  width: 420px;
  height: auto;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
}

.required-asterisk {
  color: #dc3545;
  margin-left: 0.2rem;
}

.category-input-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #ced4da; 
  border-radius: 10px;
  background-color: #fff;
  height: 48px;
  padding-right: 12px;
  cursor: pointer;
  width: 100%; 
  box-sizing: border-box; 
}

.select-category {
  padding: 10px;
  width: 100%;
  height: 48px;
  border: none; 
  background-color: transparent;
  font-size: 1rem;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::placeholder {
      color: rgb(117, 117, 135);
      opacity: 1;
    }
}

.category-input-container.errorborder {
  border-color: #dc3545; 
}


.dropdown-icon {
  cursor: pointer;
.select-category:focus {
  outline: none;
  border-color: #29abe2;
}
}



.invalid-input {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  height: 1.25rem;
}



.category-options-dropdown {
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  position: absolute;
  left: 0;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.category-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: auto;
  padding: 2px 12px 2px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 3px;
  margin-top: 3px;

  &:hover {
    background-color: #f0f0f0;
  }
}

.category-option.selected-option {
  background-color: #2a3647;
  color: white;
}

.d-none {
  display: none;
}

@media (max-width: 550px) {
  .category-dropdown {
    width: 400px;
  }

  .category-options-dropdown {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .category-dropdown {
    width: 300px;
  }

  .category-options-dropdown {
    width: 300px;
  }
}