section {
    display: flex;
    overflow-x: hidden;

    @media (max-width:965px) {
        height: 92dvh;
    }
}
.button-area{
        justify-content: space-between;
        display: flex;
        button{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: none;
            border: none;
            color: #29ABE2;
            font-size: 35px;
            cursor: pointer;
            display: none;
            align-items: center;
            justify-content: center;
            padding-bottom: 4px;
            &:hover{
                background: #0C2E621F;
            }
            @media(max-width: 965px) {
                display: flex;
            }
        }
}

.main-content-input {
    display: flex;
    flex-direction: column;
    width: 100%;

    >div {
        padding: 8dvh 4dvw;

        h1 {
            font-size: 3.6em;
            margin-bottom: 0.5em;
        }

        h2 {
            margin: 1em 0;
        }

        h3 {
            margin: 1em 0;
        }

        h4 {
            margin: 1em 0;
        }

        ul {
            padding-left: 2em;
            margin: 1em 0;
        }
    }
}

.display {
    display: flex;
}