<div class="content">
<header class="topbar">
    <div class="logo">
        <img src="./assets/icons/dark-logo-join.png" alt="Logo">
    </div>
</header>

<main class="main-content">
<form class="signup-card" (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
    <div class="signup-header" >
        <a routerLink="/login" class="login-btn">
        <img src="./assets/icons/arrow-left-line.png" alt="">
    </a>
    <div class="title-container">
        <h1>Sign up</h1>
        <div class="brake-line"></div>
    </div>
    </div>

    <!-- name  -->
    <div class="input-group" [class.invalid]="name.invalid && name.touched">
    <input type="text" placeholder="Name" name="name" [(ngModel)]="formData.name" required    [pattern]="namePattern" #name="ngModel">
        <span class="icon">
            <img src="./assets/icons/person.png" alt="">
        </span>
    </div>
    <div class="error" *ngIf="name.invalid && name.touched">Name is required.</div>

    <!-- email  -->
    <div class="input-group" [class.invalid]="email.invalid && email.touched">
    <input type="email" placeholder="Email" name="email" [(ngModel)]="formData.email" required
    [pattern]="emailPattern" #email="ngModel">
        <span class="icon">
            <img src="./assets/icons/mail.png" alt="">
        </span>
    </div>
    <div class="error" *ngIf="email.invalid && email.touched">
        <span *ngIf="email.errors?.['required']">Email is required.</span>
        <span *ngIf="email.errors?.['email']">Invalid email format.</span>
    </div>

    <!-- password  -->
    <div class="input-group" [class.invalid]="password.invalid && password.touched">
    <input type="password" placeholder="Password" name="password" [(ngModel)]="formData.password" required [pattern]="passwordPattern" #password="ngModel">
        <span class="icon">
            <img src="./assets/icons/lock.png" alt="">
        </span>
    </div>
    <div class="error" *ngIf="password.invalid && password.touched">
        <span *ngIf="password.errors?.['required']">Password is required.</span>
        <span *ngIf="password.errors?.['minlength']">Min 8 chars, 1 upper, 1 lower, 1 number, 1 special.</span>
    </div>

    <!-- confirm password  -->
    <div class="input-group" [class.invalid]="confirmPassword.invalid && confirmPassword.touched">
    <input type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="formData.confirmPassword" required [pattern]="passwordPattern" #confirmPassword="ngModel">
        <span class="icon">
            <img src="./assets/icons/lock.png" alt="">
        </span>
    </div>
    <div class="error" *ngIf="confirmPassword.touched && formData.password !== formData.confirmPassword">
        Passwords do not match.
    </div>
    
    <!-- checkbox -->
    <div class="privacy-policy" [class.invalid]="policy.invalid && policy.touched">
        <input type="checkbox" id="policy" name="policy" [(ngModel)]="formData.policy" required #policy="ngModel">I accept the<a href="">Privacy policy</a>
    </div>
    <div class="error" *ngIf="policy.invalid && policy.touched">
        You must accept the privacy policy.
    </div>
    <div class="actions">
        <button type="submit" class="signup-btn">Sign up</button>
    </div>
</form>
</main>

<footer class="footer-content">
    <a href="#">Privacy Policy</a>
    <a href="#">Legal notice</a>
</footer>
</div>