<div id="overlay-add-contact">

  <div id="left-side">
    <img src="assets/icons/logo-overlay.png" alt="" />
    <img src="assets/icons/close-responsive.png" alt="" id="close-overlay-responsive">

    <div id="text">
      <h1>Add contact</h1>
      <h3>Tasks are better with a team!</h3>
      <div id="line"></div>
    </div>
  </div>

  <div id="right-side">
    <img (click)="onCloseClick()" id="close-overlay" src="assets/icons/close-overlay.png" alt="" />

    <img src="assets/icons/person-add-contact.png" alt="" />
    <form id="inputs" (ngSubmit)="submitContact(addContactForm)" #addContactForm="ngForm">
      <div class="input-text-img">

        <input
          name="name"
          [(ngModel)]="contacts.name"
          type="text"
          placeholder="Name"
          required
          pattern="^[A-ZÄÖÜ][a-zäöüß]+(?:[-'][A-ZÄÖÜ][a-zäöüß]+)?\s[A-ZÄÖÜ][a-zäöüß]+(?:[-'][A-ZÄÖÜ][a-zäöüß]+)?$"
        />

        <img src="assets/icons/person.png" alt="" />
      </div>

      <div class="input-text-img">

        <input
          name="email"
          [(ngModel)]="contacts.email"
          required
          type="text"
          placeholder="Email"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          #email="ngModel"
          (blur)="email.control.markAsTouched()"
        />

        <img src="assets/icons/mail.png" alt="" />
      </div>

      <div class="input-text-img">

        <input
          name="phone"
          [(ngModel)]="contacts.phone"
          required
          type="text"
          placeholder="Phone"
          pattern="^^\+?\d{7,15}$"
        />

        <img src="assets/icons/call.png" alt="" />
      </div>

      <div id="buttons">
        <button type="button" (click)="onCloseClick()" id="cancel-btn">
          Cancel <img src="assets/icons/icon-cancel.png" alt="" />
        </button>
        <button type="submit" id="create-btn">
          Create contact <img src="assets/icons/icon-create.png" alt="" />
        </button>
      </div>
    </form>
  </div>
</div>
