@use "../../styles/all-styles.scss" as *;

.priority-container {
  @include dFlex($ai: start, $jc: center, $fd: column);
  gap: 0.5rem;
  margin-bottom: 20px;
}
.title {
  font-size: 18px;
  font-weight: lighter;

  @media (max-width: 500px) {
    margin-left: 10px;
  }
}
.button-group {
  @include dFlex($jc: space-between);
  gap: 3rem;
}
.priority-btn {
  @include dFlex($jc: center, $ai: center);
  border: none;
  cursor: pointer;
  background: #fff;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  font-size: 18px;
  min-width: 1rem;
  padding: 0.75rem 1rem;
  width: 100%;

  img {
    width: 24px;
    height: 24px;
  }
  &.selected {
    &.urgent {
      background-color: #ff3d00;
      color: #fff;
    }
    &.medium {
      background-color: #ffa800;
      color: #fff;
    }
    &.low {
      background-color: #7ae229;
      color: #fff;
    }

    img {
      filter: brightness(0) invert(1);
    }
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
  }
}

@media (max-width: 700px) {
  .button-group {
    @include dFlex($jc: space-between);
    gap: 10px;
  }

  .priority-btn {
    @include dFlex($jc: center, $ai: center);
    border: none;
    cursor: pointer;
    background: #fff;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    font-size: 16px;
    min-width: 1rem;
    padding: 0.75rem 1rem;
    width: 100%;

    @media (max-width: 500px) {
      padding: 0.75rem 0.75rem;
    }

    .priority-container {
      justify-content: center;
    }

    img {
      width: 12px;
      height: 20px;
    }
  }
}
