<app-header></app-header>
<app-side-bar></app-side-bar>
<section>
  <form #form="ngForm" (ngSubmit)="submitTask(form)">
    <div class="left-side">
      <h1>Add Task</h1>
      <div class="left-side-content">
        <label> Title <span class="asterisk">*</span></label>
        <input class="title-input" type="text" name="title" [(ngModel)]="tasks.title"
          placeholder="Enter a title" required>
        
        <label> Description <span class="asterisk">*</span></label>
        <input class="description-input" type="text" name="description" [(ngModel)]="tasks.description"
          placeholder="Enter a Description">
        
        <label> Due Date <span class="asterisk">*</span></label>
        <input class="date-input" type="date" name="date" [(ngModel)]="tasks.date" required>
      </div>

      <label id="required-text"><span class="asterisk">*</span> this field is required </label>
    </div>

    <div class="middle-line"></div>

    <div class="right-side">
      <div class="right-side-wrapper">
        <app-priority [(selectedPriority)]="selectedPriority"></app-priority>
        <app-assigned-to [selectedAssignedContacts]="selectedAssignedContacts"
          (selectedContactsChange)="onAssignedContactsChange($event)"></app-assigned-to>
        <app-category (taskListChange)="handleSubtasksChange($event)"></app-category>
        <app-subtasks (subtasksChange)="handleSubtasksChange($event)"></app-subtasks>

        <div class="task-buttons">
          <button class="clear-button" (click)="clearInputFields()" type="button">Clear</button>
          <button class="creat-button" type="submit">Create Task <img src="assets/icons/check-white.png"
              alt=""></button>
        </div>
      </div>
    </div>
  </form>
</section>