<section>
    <div class="edit-overlay">
        <img (click)="onClose()" id="close-edit" src="assets/icons/close-overlay.png" alt="">
        <div class="scroll-area">
        
        <form #myForm="ngForm" (ngSubmit)="saveTask()">

            <label class="label-title" for="title">

                <div class="star">
                    <span>Title</span>
                    <span class="asterisk">*</span>
                </div>
                <input type="text" [(ngModel)]="editedTask.title" name="title">
            </label>

            <label for="description" class="label-description">
                <div class="star">
                    <span>Description</span>
                    <span class="asterisk">*</span>
                </div>
                <textarea [(ngModel)]="editedTask.description" name="description"></textarea>
            </label>

            <label for="date" class="label-date">
                <div class="star">
                    <span>Due Date</span>
                    <span class="asterisk">*</span>
                </div>
                <input type="date" [(ngModel)]="editedTask.date" name="date">
            </label>
            <app-priority [(selectedPriority)]="editedTask.priority"></app-priority>
            <app-assigned-to [selectedAssignedContacts]="editedTask.assignedContacts"
                (selectedContactsChange)="editedTask.assignedContacts = $event"></app-assigned-to>
            <app-category [category]="editedTask.category"
                (taskListChange)="editedTask.category = $event"></app-category>
            <app-subtasks [subtasks]="editableSubtasks" (subtasksChange)="handleSubtasksUpdate($event)"></app-subtasks>
            
        </form>
        </div>
        <button id="ok-button" type="button" (click)="myForm.ngSubmit.emit()">OK ✓</button>
    </div>
</section>