/* Overlay Hintergrund und Container */
.overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.overlay-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1200px;
  height: 90vh;
  background: rgb(246, 247, 248);
  border-radius: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow-y: hidden;
  z-index: 13;

  .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: transparent;
    cursor: pointer;
    border: none;
    top: 5rem;
    right: 4rem;
    font-size: 1rem;
    z-index: 5;
    height: 2rem;
    width: 2rem;

    &:hover {
      background: rgba(0, 0, 0, 0.048);
      border-radius: 50%;
    }

    @media (max-width:1550px){
      top: 1rem;
      right: 2rem;
    }

    @media (max-width:700px){
      right: 1.5rem;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.div-add-task {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(246, 247, 248);

  @media (max-width: 1030px) {
    padding-left: 0;
  }

  .content {
    width: 100%;
    max-width: 1920px;
  }
}

.left-side {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h1 {
    font-size: 60px;
    margin-bottom: 40px;
    margin-top: 40px;

    @media (max-width: 1030px) {
      width: 100%;
      background-color: rgb(246, 247, 248);
      padding-top: 30px;
      padding-bottom: 10px;
      box-sizing: border-box;
      z-index: 8;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
    }

    @media (max-width: 560px) {
      font-size: 50px;
    }

    @media (max-width: 467px) {
      font-size: 40px;
    }

    @media (max-width: 377px) {
      font-size: 32px;
    }
  }
}

.asterisk {
  color: red;
  margin-right: 1em;
}

.invalid-input,
.invalid-input-date {
  color: #dc3545;
  font-size: 0.875rem;
  height: 1.25rem;
  margin-top: -15px;
}

.title-input,
.description-input,
.date-input {
  width: 430px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 10px;

  &:focus {
    border-color: #29abe2;
    outline: none;
  }
}

.title-input.errorborder,
.description-input.errorborder,
.date-input.errorborder {
  border-color: #dc3545;
}

.description-input {
  height: 96px;
}

.date-input {
  height: 3rem;
  padding: 1rem 2rem 1rem 1rem;
  z-index: 3;

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.7;
  }
}

.middle-line {
  width: 2px;
  height: 80%;
  background-color: #0000000c;
  margin-top: 10%;
  margin-right: 3%;
}

.right-side {
  width: 49%;
  margin-top: 8%;
  display: flex;
  justify-content: center;
}

.right-side-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.task-buttons {
  display: flex;
  gap: 16px;
  background-color: transparent;
}

.clear-button,
.creat-button {
  height: 56px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 21px;
  cursor: pointer;
}

.clear-button {
  width: 110px;
  background-color: rgb(246, 247, 249);
  border: 1px solid #2a3647;

  &:hover {
    color: #29abe2;
    transform: scale(1.05);
    border: 1px solid #29abe2;
  }
}

.creat-button {
  width: 183px;
  border: 0;
  background-color: #2a3647;
  color: white;

  &:hover {
    background-color: rgb(41, 171, 226);
    transform: scale(1.05);
  }
}

.bottom-container {
  margin-top: 14%;
  width: 80%;
  padding-right: 2.5%;
  display: flex;
  justify-content: space-between;
}

/* MEDIA QUERIES */

@media (max-width: 1550px) {
  form {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }

  .div-add-task {
    flex-direction: column;
    align-items: center;
    margin-bottom:40%;
    margin-top: 30%;
  }

  .left-side,
  .right-side {
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .right-side {
    margin-right: 0;
  }

  .middle-line {
    display: none;
  }

  .left-side-content{
    display: flex;
    flex-direction: column;
  }

  .bottom-container {
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 8px;
  }

  .task-buttons {
    position: fixed;
    z-index: 10;
    bottom: 9%;
    width: 65%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  #required-text {
    display: none;
    margin-top: 40px;
    margin-bottom: auto;
  }
}

@media (max-width: 1200px) {
  .div-add-task {
    margin-bottom: 47%;
    margin-top: 37%;
  }
}

@media (max-width: 1030px) {
  form {
    // padding-bottom: 80px;
    margin-top: 0;

    
  }

  .div-add-task {
    margin-bottom: 75%;
    margin-top: 60%;

    h1{
    font-size: 49px;
  }
  }

  #required-text {
    display: none;
  }
}

@media (max-width: 640px) {
  .task-buttons {
    bottom: 8%;
  }

  .div-add-task {
    margin-bottom: 86%;
    margin-top: 65%;

    h1{
    font-size: 42px;
  }
  }
}

@media (max-width: 550px) {
  .title-input,
  .description-input,
  .date-input {
    width: 300px;
  }

  .div-add-task {
    margin-bottom: 95%;
    margin-top: 65%;

    h1{
    font-size: 38px;
  }
  }

  .creat-button {
    font-size: 16px;
    width: 200px;

    img {
      width: 10px;
      height: 10px;
    }
  }

  .clear-button {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .div-add-task {
    margin-bottom: 88%;
    margin-top: 46%;

    h1{
    font-size: 30px;
  }
  }
}

@media (max-width: 400px) {
  .title-input,
  .description-input,
  .date-input {
    width: 270px;
  }

  .creat-button {
    font-size: 16px;

    img {
      width: 10px;
      height: 10px;
    }
  }

  .clear-button {
    font-size: 16px;
  }

  .div-add-task {
    margin-top: 54%;
    margin-bottom: 112%;

    h1{
    font-size: 24px;
  }
  }
}
